.vscode/**
.vscode-test/**
.agents/**
.claude/**
src/**
webview/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.vue
!node_modules/@vscode/codicons/dist/**
!webview-dist/**
