.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!node_modules/@vscode/codicons/dist/**
webview/src/**
webview/node_modules/**
webview/package.json
webview/package-lock.json
webview/tsconfig.json
webview/tsconfig.node.json
webview/vite.config.ts
webview/index.html
webview/.gitignore
webview/env.d.ts
